# API Configuration
# Elasticsearch connection settings
ELASTIC_USERNAME=elastic
ELASTIC_URL=es01:9200

# Default index name for logs
INDEX_NAME=log-test

# Elasticsearch index settings
ELASTIC_INDEX_REPLICAS=1
ELASTIC_INDEX_SHARDS=1

# Deployment environment
DEPLOYMENT=PROD