# Logging Services Configuration
# Log file path inside container
LOGFILE_PATH="/etc/logs/logs.csv"

# Load balancer endpoint for sending logs
ENDPOINT="http://log-forwarding-lb:80/send_log"

# Number of repetitions for log sending
REPETITIONS=1

# Whether to send logs endlessly
ENDLESS=true